<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.product.SpuSaleAttr">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spuId" column="spu_id" jdbcType="BIGINT"/>
            <result property="baseSaleAttrId" column="base_sale_attr_id" jdbcType="BIGINT"/>
            <result property="saleAttrName" column="sale_attr_name" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="atrrAndValueMp"
               autoMapping="true"
               type="com.atguigu.gmall.model.product.SpuSaleAttr">
        <id column="id" property="id"></id>
        <collection property="spuSaleAttrValueList"
                    autoMapping="true"
                    ofType="com.atguigu.gmall.model.product.SpuSaleAttrValue">
            <id column="vid" property="id"></id>
        </collection>

    </resultMap>

    <select id="getAttrAndValueBySpuId" resultMap="atrrAndValueMp">

        select sa.*,sav.id vid,sav.spu_id,sav.base_sale_attr_id,sav.sale_attr_value_name
        from spu_sale_attr sa
                 join spu_sale_attr_value sav
                      on sa.spu_id=sav.spu_id and sa.base_sale_attr_id=sav.base_sale_attr_id
        where sa.spu_id=#{spuId}
    </select>
</mapper>
